<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3 mt-2">
    <h1>Listings Details</h1>
  </div>
  <div class="col-6 offset-3 show-card">
    <div class="card listing-card" style="width: 18rem;">
      <img src="<%= listing.image.url%>" class="card-img-top show-image" alt="listing_image">
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b><br>
          <%= listing.description %> <br>
          &#8377;<%= listing.price.toLocaleString("en-IN") %> <br>
          <%= listing.location %> <br>
          <%= listing.country %> <br>
        </p>
      </div>
    </div>
  </div><br>
  <div class="btns">
    <a href="/listings/<%=listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
  <div class="col-8 offset-3">
    <hr>
    <h3>Leave a review</h3>
    <form method="POST" action="/listings/<%=listing._id%>/reviews" class="needs-validation" novalidate>
      <div class="md-3">
        <label for="rating" class="form-label">Rating</label>
        <input name="review[rating]" min="1" max="5" type="range" class="form-range" required />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please choose a Rating.
        </div>
      </div>
      <div class="md-3">
        <label for="comment" class="form-label">Description</label>
        <textarea name="review[comment]" placeholder="enter comment" class="form-control" required></textarea>
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please enter comment.
        </div>
      </div><br>
      <button class="btn btn-dark">Add Review</button>
    </form><br>
    <p><b>All Reviews</b></p>
    <div class="row">
      <% listing.reviews.forEach((review) => { %>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">Jane Doe</h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><%= review.rating %> Star</p>
        </div><br>
        <form method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id %>?_method=DELETE">
          <button class="btn btn-danger">Delete</button>
        </form><br>
      </div>
      <% }); %>
    </div>
  </div>
</div>
